
/* Laptop to large device screen Responsiveness goes here */
@media screen and (min-width:768px) and (max-width:1025px){
    .nav-container{
        margin: 0 auto;
        width: 80%;
    }
    .logo-div{  
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 80%;
        margin-bottom: 20px;
        
    }
    .nav-items{
        display: flex;
        width: 67%;
    }
    .nav-items a{
        margin-right: 20px;
        
    }
    .follow-container{
        margin-right: 50px
    } 

    /* Online games  section start */

    .kids-online-games-photo-container{
        
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    /* ----------- kids-player-section ---------- */
    .kids-player-container {
        flex-direction: column-reverse;
        width: 80%;

    }


}

/* Tablet screen Responsiveness goes here */

@media screen and (min-width:425px) and (max-width:767px){
    .nav-container{
        margin: 0 auto;
        flex-direction: column;
        width: 80%;
    }
    .logo-div{  
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 80%;
        margin-bottom: 20px;
        
    }
    .nav-items{
        display: flex;
        width: 80%;
    }
    .nav-items a{
        margin-right: 20px;
        
    }
    .follow-container{
        margin-right: -35px;
    } 

    /*  Header part starts here  */

    .header-container{
        flex-direction: column-reverse;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .banner-container{
        width: 100%;
        padding-bottom: 100px;
    }
    
    .banner-image{
        width: 100%;
    }
    .banner-text h2{
        width: 290px;
    }

    .icons-container span>.fa-users{
        margin-left: 0px
    }
    
    
    .banner-container .banner-btn{
        width: 34%;
    
    }
    .icons-container{
        flex-direction: row;
    }

}



/* Mobile Responsiveness goes here */
@media screen and (max-width:426px) {
    .nav-container{
        flex-direction: column;
        width: 80%;
    }
    .logo-div{  
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 80%;
    }
    .nav-items{
        flex-direction: column;
        width: 80%;
    }
    .nav-items a{
        margin-top: 20px;
        
    }
    .follow-container{
        margin-top: 20px;
    }

    /*  Header part starts here  */

    .header-container{
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    .banner-container{
        width: 100%;
    }

    .banner-image{
        width: 100%;
    }
    .banner-text h2{
        width: 186px;
    }

    .icons-container span>.fa-users{
        margin-left: 0px
    }
    
    .banner-container .banner-btn{
        width: 50%;
    
    }

    /* Online games  section start */

    .online-games-section {
        max-width: 80%;
        flex-wrap: wrap;
    }    

    .kids-online-games-photo-container{
        max-width: 100%;
        /* margin: 10px 0;
        padding: 20px 0; */
        /* display: grid; */
        grid-template-columns: repeat(1,1fr);
    }
    

    /* ----------- kids-player-section ---------- */
    .kids-player-container{
        flex-direction: column-reverse;
        width: 70%;
    }
    .kids-player2 {
        top: 70%;
        left: 60%;
    }
    .kids-player-img {
    margin: 20px 0;

}

}
